<H3>Data wrangling ML features => Ozone, CO, PM2.5, & N02</H3>
Focus of this notebook is to import BigQuery results and put into dataframe that minimizes duplicate "key" values identified in previous iterations of the project work. This notebook builds of code from project team members.

<hr>
<h4>1. Loading the data</h4>

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
# file = "env_data.json"
file = "bigquery.csv"

# Read CSV
# env_data = pd.read_json(file, dtype=False, lines=True)
# env_data.head()
query_dF = pd.read_csv(file)
query_dF.head(2)

/Users/jamesmcarter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,fips,observation_percent,latitude,longitude,site_num,parameter_name,parameter_code,pollutant_standard,metric_used,...,fourth_max_value,ninety_nine_percentile,ninety_eight_percentile,ninety_five_percentile,ninety_percentile,seventy_five_percentile,fifty_percentile,ten_percentile,county_name,state_name
0,1980,1001,40,32.42847,-86.443585,2,Ozone,44201,Ozone 8-hour 2015,Daily maximum of 8-hour running average,...,0.092,0.093,0.093,0.081,0.077,0.066,0.056,0.035,Autauga,Alabama
1,1980,1001,38,32.42847,-86.443585,2,Ozone,44201,Ozone 8-Hour 2008,Daily maximum of 8 hour running average of obs...,...,0.092,0.093,0.093,0.081,0.077,0.066,0.054,0.035,Autauga,Alabama

<h4>2. Exploring the dataframe</h4>

In [2]:
#Setup back-up copy of dataframe & simple 'df' naming convention
query_dF_copy = query_dF
df = query_dF
df.shape
df.columns

(355632, 25)

Index(['year', 'fips', 'observation_percent', 'latitude', 'longitude',
       'site_num', 'parameter_name', 'parameter_code', 'pollutant_standard',
       'metric_used', 'arithmetic_mean', 'arithmetic_standard_dev',
       'first_max_value', 'second_max_value', 'third_max_value',
       'fourth_max_value', 'ninety_nine_percentile', 'ninety_eight_percentile',
       'ninety_five_percentile', 'ninety_percentile',
       'seventy_five_percentile', 'fifty_percentile', 'ten_percentile',
       'county_name', 'state_name'],
      dtype='object')

In [3]:
#Exploring the dataframe for columns potentially generating duplicates 
df['year'].unique()
df['pollutant_standard'].unique()
df['parameter_code'].unique()
df['parameter_name'].unique()
df.groupby(['parameter_name','parameter_code']).max().head(4)

array([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
       1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
       2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017])

array(['Ozone 8-hour 2015', 'Ozone 8-Hour 2008', 'Ozone 8-Hour 1997',
       'Ozone 1-hour 1979', 'CO 1-hour 1971', 'CO 8-hour 1971',
       'NO2 Annual 1971', 'NO2 1-hour', 'PM25 Annual 2006',
       'PM25 Annual 2012', 'PM25 24-hour 2006', 'PM25 24-hour 2012', nan],
      dtype=object)

array([44201, 42101, 42602, 88101])

array(['Ozone', 'Carbon monoxide', 'Nitrogen dioxide (NO2)',
       'PM2.5 - Local Conditions'], dtype=object)

,,arithmetic_mean,arithmetic_standard_dev,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,metric_used,ninety_eight_percentile,...,ninety_nine_percentile,ninety_percentile,observation_percent,second_max_value,seventy_five_percentile,site_num,state_name,ten_percentile,third_max_value,year
parameter_name,parameter_code,,,,,,,,,,,,,,,,,,,,,
Carbon monoxide,42101,42.933333,5.426317,Yuma,44.00,65.900,50.00,70.263611,0.000000,Obseved hourly values,50.0,...,50.00,50.0,100,65.90,48.0,9997,Wyoming,40.000,52.0,2017
Nitrogen dioxide (NO2),42602,136.666667,95.633292,Yuma,130.00,1686.200,467.00,70.263611,144.833333,Observed values,380.9,...,453.00,285.0,100,998.00,180.0,9997,Wyoming,70.000,998.0,2017
Ozone,44201,0.159333,0.100377,Yuma,0.16,0.492,0.37,64.845690,0.000000,Daily maximum of 8-hour running average,0.4,...,0.44,0.3,100,0.44,0.2,9998,Wyoming,0.105,0.4,2017
PM2.5 - Local Conditions,88101,63.000000,113.626071,Yuma,112.00,1167.000,975.00,64.846506,-64.784868,Quarterly Means of Daily Means,468.6,...,640.60,327.4,100,985.20,112.0,9997,Wyoming,63.000,975.0,2017

<hr>
<h4>2b. ... "Houston...we have a problem" with duplicates</h4>
Replicating Ed's "check for duplicates - seems like we have multiple values for the same year, state, county, and parameter"

In [4]:
# Harris County, TX fips 48201 (:-) Houston is located in Harris County
test_48201=df.loc[(df['fips']==48201) &
                  (df['year']==2014) &
                  (df['parameter_code']==44201)
                 ]
test_48201.to_csv('test_48201.csv')
test_48201.shape
test_48201.head(4)

# Autauga, AL fips 1001
test_1001=df.loc[(df['fips']==1001)
                 & (df['year']==1990)
                 & (df['parameter_code']==44201)
                ]
test_1001.to_csv('test_1001.csv')
test_1001.shape
test_1001.head(4)

(68, 25)

,year,fips,observation_percent,latitude,longitude,site_num,parameter_name,parameter_code,pollutant_standard,metric_used,...,fourth_max_value,ninety_nine_percentile,ninety_eight_percentile,ninety_five_percentile,ninety_percentile,seventy_five_percentile,fifty_percentile,ten_percentile,county_name,state_name
309689,2014,48201,98,29.583047,-95.015544,1050,Ozone,44201,Ozone 8-Hour 2008,Daily maximum of 8 hour running average of obs...,...,0.065,0.065,0.061,0.056,0.051,0.043,0.034,0.018,Harris,Texas
309690,2014,48201,99,29.583047,-95.015544,1050,Ozone,44201,Ozone 1-hour 1979,Daily maxima of observed hourly values (betwee...,...,0.078,0.078,0.071,0.064,0.058,0.048,0.040,0.023,Harris,Texas
309693,2014,48201,96,30.039524,-95.673951,29,Ozone,44201,Ozone 8-hour 2015,Daily maximum of 8-hour running average,...,0.063,0.063,0.059,0.053,0.049,0.042,0.034,0.020,Harris,Texas
309695,2014,48201,100,29.834167,-95.489167,47,Ozone,44201,Ozone 8-Hour 2008,Daily maximum of 8 hour running average of obs...,...,0.064,0.064,0.062,0.059,0.051,0.043,0.033,0.018,Harris,Texas

(4, 25)

,year,fips,observation_percent,latitude,longitude,site_num,parameter_name,parameter_code,pollutant_standard,metric_used,...,fourth_max_value,ninety_nine_percentile,ninety_eight_percentile,ninety_five_percentile,ninety_percentile,seventy_five_percentile,fifty_percentile,ten_percentile,county_name,state_name
48496,1990,1001,96,32.332659,-86.791521,3,Ozone,44201,Ozone 8-Hour 2008,Daily maximum of 8 hour running average of obs...,...,0.080,0.084,0.079,0.071,0.068,0.058,0.046,0.028,Autauga,Alabama
48497,1990,1001,96,32.332659,-86.791521,3,Ozone,44201,Ozone 8-hour 2015,Daily maximum of 8-hour running average,...,0.080,0.084,0.079,0.071,0.068,0.058,0.046,0.028,Autauga,Alabama
48498,1990,1001,96,32.332659,-86.791521,3,Ozone,44201,Ozone 8-Hour 1997,Daily maximum of 8 hour running average of obs...,...,0.080,0.084,0.079,0.071,0.068,0.058,0.046,0.028,Autauga,Alabama
48499,1990,1001,97,32.332659,-86.791521,3,Ozone,44201,Ozone 1-hour 1979,Daily maxima of observed hourly values (betwee...,...,0.091,0.094,0.088,0.080,0.076,0.065,0.052,0.035,Autauga,Alabama

<hr>
<h4>3. Transforming/cleaning the dataframe to minimize duplicates</h4>

In [5]:
# Multiple pollutant_standard for same measurement generates duplicates
df['pollutant_standard'].unique()

# From list above, selecting standards thought to cover more years
select_pollutant_standards = df.loc[(df['pollutant_standard']=="Ozone 8-Hour 1997") |
                         (df['pollutant_standard']=="CO 8-hour 1971") |
                         (df['pollutant_standard']=="NO2 Annual 1971") |
                         (df['pollutant_standard']=="PM25 24-hour 2006")                   
                        ]
# Viewing  & verifying selection via groupby
select_pollutant_standards.groupby(['parameter_name','parameter_code','pollutant_standard']).max().head(4)

array(['Ozone 8-hour 2015', 'Ozone 8-Hour 2008', 'Ozone 8-Hour 1997',
       'Ozone 1-hour 1979', 'CO 1-hour 1971', 'CO 8-hour 1971',
       'NO2 Annual 1971', 'NO2 1-hour', 'PM25 Annual 2006',
       'PM25 Annual 2012', 'PM25 24-hour 2006', 'PM25 24-hour 2012', nan],
      dtype=object)

,,,arithmetic_mean,arithmetic_standard_dev,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,metric_used,ninety_eight_percentile,...,ninety_nine_percentile,ninety_percentile,observation_percent,second_max_value,seventy_five_percentile,site_num,state_name,ten_percentile,third_max_value,year
parameter_name,parameter_code,pollutant_standard,,,,,,,,,,,,,,,,,,,,,
Carbon monoxide,42101,CO 8-hour 1971,42.192857,4.089504,Yuma,42.800,45.700,45.500,70.263611,0.000000,8-Hour running average (end hour) of observed ...,44.500,...,44.50,43.600,100,45.60,43.20,9997,Wyoming,40.000,45.500,2017
Nitrogen dioxide (NO2),42602,NO2 Annual 1971,86.173826,70.400994,Yuma,80.000,1686.200,467.000,70.263611,144.833333,Observed values,249.000,...,266.00,171.000,100,998.00,110.00,9997,Wyoming,63.000,998.000,2017
Ozone,44201,Ozone 8-Hour 1997,0.127175,0.067779,Yuma,0.123,0.337,0.271,64.845690,0.000000,Daily maximum of 8 hour running average of obs...,0.271,...,0.28,0.207,100,0.28,0.16,9998,Wyoming,0.102,0.273,2017
PM2.5 - Local Conditions,88101,PM25 24-hour 2006,63.000000,113.626071,Yuma,112.000,640.600,378.800,64.846506,-64.784868,Daily Mean,468.600,...,640.60,327.400,100,529.40,112.00,9997,Wyoming,63.000,379.000,2017

In [6]:
#Checking what the de-duplication effort yielded
select_pollutant_standards.shape
df.shape
print(f'Before ' + str(len(df)) + ' rows and after '+ str(len(select_pollutant_standards)) + ' rows')

(105665, 25)

(355632, 25)

Before 355632 rows and after 105665 rows

<hr>
<h4>3b. ... "Houston...we still have a problem" with duplicates related to <u>monitoring sites</u></h4>
Is it legit to keeps monitoring sites duplicates and then aggregate, as suggested?

In [7]:
select_df = select_pollutant_standards
# Harris County, TX fips 48201 (:-) Houston is located in Harris County
test2_48201=select_df.loc[(select_df['fips']==48201) &
                  (select_df['year']==2014) &
                  (select_df['parameter_code']==44201)
                 ]
test2_48201.to_csv('test2_48201.csv')
test2_48201.shape
test2_48201.head(2)
test2_48201['site_num'].unique()
print(f'Duplicates from Harris County, Texas (fips 48201)')
print(f' =>Before ' + str(len(test_48201)) + ' rows and after '+ str(len(test2_48201)) + ' rows')
print(f' =>...duplicates that remain after are from ' + \
      str(len(test2_48201['site_num'].unique())) + ' monitoring sites for Ozone alone!')

(17, 25)

,year,fips,observation_percent,latitude,longitude,site_num,parameter_name,parameter_code,pollutant_standard,metric_used,...,fourth_max_value,ninety_nine_percentile,ninety_eight_percentile,ninety_five_percentile,ninety_percentile,seventy_five_percentile,fifty_percentile,ten_percentile,county_name,state_name
309698,2014,48201,99,29.623889,-95.474167,51,Ozone,44201,Ozone 8-Hour 1997,Daily maximum of 8 hour running average of obs...,...,0.067,0.067,0.065,0.060,0.053,0.043,0.034,0.019,Harris,Texas
309720,2014,48201,96,29.723333,-95.635833,66,Ozone,44201,Ozone 8-Hour 1997,Daily maximum of 8 hour running average of obs...,...,0.070,0.070,0.062,0.057,0.053,0.043,0.034,0.020,Harris,Texas

array([  51,   66, 1017,   24, 1050,   75,   26, 1035,  416,   55,   46,
         29,   62,   47, 1034, 1039, 1015])

Duplicates from Harris County, Texas (fips 48201)
 =>Before 68 rows and after 17 rows
 =>...duplicates that remain after are from 17 monitoring sites for Ozone alone!

<hr>
<h4>4. Transpose (pivot_table) the pollutant parameters to setup df for merging with the asthma frame</u></h4>
Assuming it is legit to keep monitoring sites duplicates and then aggregate, as suggested?

In [8]:
select_df.columns

Index(['year', 'fips', 'observation_percent', 'latitude', 'longitude',
       'site_num', 'parameter_name', 'parameter_code', 'pollutant_standard',
       'metric_used', 'arithmetic_mean', 'arithmetic_standard_dev',
       'first_max_value', 'second_max_value', 'third_max_value',
       'fourth_max_value', 'ninety_nine_percentile', 'ninety_eight_percentile',
       'ninety_five_percentile', 'ninety_percentile',
       'seventy_five_percentile', 'fifty_percentile', 'ten_percentile',
       'county_name', 'state_name'],
      dtype='object')

In [9]:
columns_to_index = ['year','county_name','fips','site_num','latitude','longitude','state_name']

In [10]:
transposed=select_df.pivot_table(index = columns_to_index,
            columns = ['parameter_name'],fill_value=0).reset_index()
transposed.shape

(61987, 67)

In [11]:
# Update columms names by combining measure name
transposed.columns = transposed.columns.map('|'.join).str.strip('|')
transposed.head()

,year,county_name,fips,site_num,latitude,longitude,state_name,arithmetic_mean|Carbon monoxide,arithmetic_mean|Nitrogen dioxide (NO2),arithmetic_mean|Ozone,...,seventy_five_percentile|Ozone,seventy_five_percentile|PM2.5 - Local Conditions,ten_percentile|Carbon monoxide,ten_percentile|Nitrogen dioxide (NO2),ten_percentile|Ozone,ten_percentile|PM2.5 - Local Conditions,third_max_value|Carbon monoxide,third_max_value|Nitrogen dioxide (NO2),third_max_value|Ozone,third_max_value|PM2.5 - Local Conditions
0,1980,Ada,16001,7,43.613778,-116.204284,Idaho,3.174211,0.000000,0.000000,...,0.000,0.0,1.0,0.0,0.000,0.0,12.3,0.0,0.000,0.0
1,1980,Ada,16001,8,43.617944,-116.254842,Idaho,2.621029,0.000000,0.000000,...,0.000,0.0,1.1,0.0,0.000,0.0,11.0,0.0,0.000,0.0
2,1980,Adams,8001,3001,39.838119,-104.949840,Colorado,1.644772,22.925242,0.055439,...,0.063,0.0,0.1,1.0,0.045,0.0,9.8,164.0,0.083,0.0
3,1980,Adams,17001,5,39.933657,-91.402650,Illinois,0.000000,0.000000,0.047686,...,0.058,0.0,0.0,0.0,0.036,0.0,0.0,0.0,0.078,0.0
4,1980,Addison,50001,101,43.933396,-73.032891,Vermont,0.000000,0.000000,0.049558,...,0.062,0.0,0.0,0.0,0.038,0.0,0.0,0.0,0.094,0.0

In [13]:
# Harris County, TX fips 48201; Houston is located in Harris County
test3_48201=transposed.loc[(transposed['year']==2014)&
                          (transposed['fips']==48201)
                         ]
test3_48201.to_csv('test3_48201.csv')
test3_48201.shape
test3_48201.head()
test3_48201['site_num'].unique()
len(test3_48201['site_num'].unique())

# Autauga, AL fips 1001
test3_1001=transposed.loc[(transposed['year']==1990)&
                          (transposed['fips']==1001)
                         ]
test3_1001.to_csv('test3_1001.csv')
test3_1001.shape
test3_1001.head()
test3_1001['site_num'].unique()
len(test3_1001['site_num'].unique())

(19, 67)

,year,county_name,fips,site_num,latitude,longitude,state_name,arithmetic_mean|Carbon monoxide,arithmetic_mean|Nitrogen dioxide (NO2),arithmetic_mean|Ozone,...,seventy_five_percentile|Ozone,seventy_five_percentile|PM2.5 - Local Conditions,ten_percentile|Carbon monoxide,ten_percentile|Nitrogen dioxide (NO2),ten_percentile|Ozone,ten_percentile|PM2.5 - Local Conditions,third_max_value|Carbon monoxide,third_max_value|Nitrogen dioxide (NO2),third_max_value|Ozone,third_max_value|PM2.5 - Local Conditions
55216,2014,Harris,48201,24,29.901036,-95.326137,Texas,0.194787,7.152834,0.035046,...,0.044,13.3,0.1,0.5,0.019,6.5,1.8,43.8,0.070,20.8
55217,2014,Harris,48201,26,29.802707,-95.125495,Texas,0.000000,10.099845,0.032670,...,0.042,0.0,0.0,3.5,0.018,0.0,0.0,45.9,0.065,0.0
55218,2014,Harris,48201,29,30.039524,-95.673951,Texas,0.000000,5.105803,0.034103,...,0.042,0.0,0.0,1.6,0.020,0.0,0.0,62.9,0.065,0.0
55219,2014,Harris,48201,46,29.828086,-95.284096,Texas,0.000000,0.000000,0.033006,...,0.042,0.0,0.0,0.0,0.017,0.0,0.0,0.0,0.062,0.0
55220,2014,Harris,48201,47,29.834167,-95.489167,Texas,0.285613,11.219434,0.033995,...,0.043,0.0,0.1,3.7,0.018,0.0,2.4,52.9,0.065,0.0

array([  24,   26,   29,   46,   47,   51,   55,   58,   62,   66,   75,
        416, 1015, 1017, 1034, 1035, 1039, 1050, 1066])

19

(1, 67)

,year,county_name,fips,site_num,latitude,longitude,state_name,arithmetic_mean|Carbon monoxide,arithmetic_mean|Nitrogen dioxide (NO2),arithmetic_mean|Ozone,...,seventy_five_percentile|Ozone,seventy_five_percentile|PM2.5 - Local Conditions,ten_percentile|Carbon monoxide,ten_percentile|Nitrogen dioxide (NO2),ten_percentile|Ozone,ten_percentile|PM2.5 - Local Conditions,third_max_value|Carbon monoxide,third_max_value|Nitrogen dioxide (NO2),third_max_value|Ozone,third_max_value|PM2.5 - Local Conditions
12331,1990,Autauga,1001,3,32.332659,-86.791521,Alabama,0.0,0.0,0.047259,...,0.058,0.0,0.0,0.0,0.028,0.0,0.0,0.0,0.084,0.0

array([3])

1