Import Data

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "env_data.json"

# Read
env_data = pd.read_json(file, dtype=False, lines=True)
env_data.head()

,arithmetic_mean,arithmetic_standard_dev,county_code,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,ninety_eight_percentile,...,ninety_percentile,parameter_name,second_max_value,seventy_five_percentile,site_num,state_code,state_name,ten_percentile,third_max_value,year
0,4.193443,7.078815,001,Ada,4.4,17.8,14.3,43.643055,-116.265718,16.7,...,13.5,Ambient Min Temperature,16.7,10.2,0021,16,Idaho,-5.1,14.4,2003
1,0.200000,0.134840,001,Ada,0.1,0.5,0.4,43.643055,-116.265718,0.5,...,0.4,Sample Flow Rate- CV,0.4,0.3,0021,16,Idaho,0.1,0.4,2002
2,0.156000,0.112101,001,Ada,0.1,0.5,0.3,43.643055,-116.265718,0.5,...,0.3,Sample Flow Rate- CV,0.4,0.1,0021,16,Idaho,0.1,0.3,2004
3,9.912000,9.961355,001,Ada,7.1,43.2,16.2,43.643055,-116.265718,43.2,...,18.9,PM2.5 - Local Conditions,36.6,8.5,0021,16,Idaho,3.2,18.9,2004
4,15.591304,14.466825,001,Ada,10.4,62.7,27.6,43.643055,-116.265718,62.7,...,33.1,PM2.5 - Local Conditions,40.8,21.1,0021,16,Idaho,4.6,33.1,2002

Data Checks

In [ ]:
#quick check of data types
# env_data.dtypes

In [ ]:
# env_data.parameter_name.unique().tolist()

In [3]:
env_data["fips"] = env_data["state_code"] + env_data["county_code"]
env_data["key"] = env_data["state_code"] + env_data["county_code"] + env_data["year"]
env_data.head()

,arithmetic_mean,arithmetic_standard_dev,county_code,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,ninety_eight_percentile,...,second_max_value,seventy_five_percentile,site_num,state_code,state_name,ten_percentile,third_max_value,year,fips,key
0,4.193443,7.078815,001,Ada,4.4,17.8,14.3,43.643055,-116.265718,16.7,...,16.7,10.2,0021,16,Idaho,-5.1,14.4,2003,16001,160012003
1,0.200000,0.134840,001,Ada,0.1,0.5,0.4,43.643055,-116.265718,0.5,...,0.4,0.3,0021,16,Idaho,0.1,0.4,2002,16001,160012002
2,0.156000,0.112101,001,Ada,0.1,0.5,0.3,43.643055,-116.265718,0.5,...,0.4,0.1,0021,16,Idaho,0.1,0.3,2004,16001,160012004
3,9.912000,9.961355,001,Ada,7.1,43.2,16.2,43.643055,-116.265718,43.2,...,36.6,8.5,0021,16,Idaho,3.2,18.9,2004,16001,160012004
4,15.591304,14.466825,001,Ada,10.4,62.7,27.6,43.643055,-116.265718,62.7,...,40.8,21.1,0021,16,Idaho,4.6,33.1,2002,16001,160012002

In [6]:
env_data.groupby(['key'], sort=True).max()
env_data.shape

(2093880, 24)

In [77]:
# PM10 - LC
# PM2.5 - Local Conditions
# Ozone
# Oxides of nitrogen (NOx)
# Carbon monoxide
# Nitrogen dioxide (NO2)
# Methane
# NITROUS OXIDE
# Carbon dioxide

dfPM10 = env_data.loc[env_data['parameter_name'] == "PM10 - LC"]
dfPM25 = env_data.loc[env_data['parameter_name'] == "PM2.5 - Local Conditions"]
dfOzone = env_data.loc[env_data['parameter_name'] == "Ozone"]
dfNOX = env_data.loc[env_data['parameter_name'] == "Oxides of nitrogen (NOx)"]
dfCO = env_data.loc[env_data['parameter_name'] == "Carbon monoxide"]
dfNO2 = env_data.loc[env_data['parameter_name'] == "Nitrogen dioxide (NO2)"]
dfNO = env_data.loc[env_data['parameter_name'] == "NITROUS OXIDE"]
dfMethane = env_data.loc[env_data['parameter_name'] == "Methane"]
dfCO2 = env_data.loc[env_data['parameter_name'] == "Carbon dioxide"]

In [78]:
# dfPM10 = dfPM10.rename(columns={'arithmetic_mean': 'PM10_mean', 'arithmetic_standard_dev': 'PM10_std_dev',\
#                        'fifty_percentile': 'PM10_50', 'first_max_value': 'PM10_first_max',\
#                        'fourth_max_value': 'PM10_fourth_max', 'ninety_eight_percentile': 'PM10_98',\
#                        'second_max_value': 'PM10_second_max', 'seventy_five_percentile': 'PM10_75',\
#                         'ninety_five_percentile': 'PM10_95', 'ninety_nine_percentile': 'PM10_99',\
#                         'ninety_percentile': 'PM10_90', 'ten_percentile': 'PM10_10', 'third_max_value': 'PM10_third_max'})

dfPM10 = dfPM10.rename(columns={'arithmetic_mean': 'PM10_mean', 'first_max_value': 'PM10_first_max',\
                                'ninety_five_percentile': 'PM10_95'})
dfPM10 = dfPM10.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile',\
                                'third_max_value'])
dfPM10.head()

,PM10_mean,county_code,county_name,PM10_first_max,latitude,longitude,PM10_95,site_num,state_code,state_name,year,fips,key
19,20.262295,001,Ada,60.0,43.617759,-116.392590,42.0,0013,16,Idaho,1998,16001,160011998
25,25.169492,001,Ada,89.0,43.617759,-116.392590,62.0,0013,16,Idaho,1999,16001,160011999
215,13.783019,001,Ada,59.0,43.600699,-116.347853,34.0,0010,16,Idaho,2014,16001,160012014
455,16.641667,001,Ada,107.0,43.600699,-116.347853,45.0,0010,16,Idaho,2012,16001,160012012
459,14.371681,001,Ada,66.0,43.600699,-116.347853,36.0,0010,16,Idaho,2015,16001,160012015

In [79]:
# dfPM25 = env_data.loc[env_data['parameter_name'] == "PM2.5 - Local Conditions"]
# # dfPM25 = dfPM25.rename(columns={'parameter_name': 'PM25'}, inplace=True)
dfPM25 = dfPM25.rename(columns={'arithmetic_mean': 'PM25_mean', 'first_max_value': 'PM25_first_max',\
                                'ninety_five_percentile': 'PM25_95'})
dfPM25 = dfPM25.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfPM25.head()

    PM25_mean  PM25_first_max  PM25_95        key
3    9.912000            43.2     36.6  160012004
4   15.591304            62.7     40.8  160012002
10  15.591304            62.7     40.8  160012002
11   9.912000            43.2     36.6  160012004
13   9.912000            43.2     36.6  160012004

In [80]:
# dfOzone = env_data.loc[env_data['parameter_name'] == "Ozone"]
# dfOzone = dfOzone.rename(columns={'parameter_name': 'Ozone'})
# dfOzone = dfOzone.rename(columns={'arithmetic_mean': 'Ozone_mean', 'arithmetic_standard_dev': 'Ozone_std_dev',\
#                        'fifty_percentile': 'Ozone_50', 'first_max_value': 'Ozone_first_max',\
#                        'fourth_max_value': 'Ozone_fourth_max', 'ninety_eight_percentile': 'Ozone_98',\
#                        'second_max_value': 'Ozone_second_max', 'seventy_five_percentile': 'Ozone_75',\
#                         'ninety_five_percentile': 'Ozone_95', 'ninety_nine_percentile': 'Ozone_99',\
#                         'ninety_percentile': 'Ozone_90', 'ten_percentile': 'Ozone_10', 'third_max_value': 'Ozone_third_max'})
dfOzone = dfOzone.rename(columns={'arithmetic_mean': 'Ozone_mean', 'first_max_value': 'Ozone_max',\
                                'ninety_five_percentile': 'Ozone_95'})
dfOzone = dfOzone.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfOzone.head()

    Ozone_mean  Ozone_max  Ozone_95        key
89    0.058185      0.090     0.078  160012006
90    0.051962      0.088     0.074  160012002
91    0.053711      0.107     0.079  160012001
92    0.058248      0.116     0.085  160012002
93    0.058254      0.090     0.078  160012006

In [81]:
# dfNOX = env_data.loc[env_data['parameter_name'] == "Oxides of nitrogen (NOx)"]
# dfNOX = dfNOX.rename(columns={'parameter_name': 'NOX'})
# dfNOX = dfNOX.rename(columns={'arithmetic_mean': 'NOX_mean', 'arithmetic_standard_dev': 'NOX_std_dev',\
#                        'fifty_percentile': 'NOX_50', 'first_max_value': 'NOX_first_max',\
#                        'fourth_max_value': 'NOX_fourth_max', 'ninety_eight_percentile': 'NOX_98',\
#                        'second_max_value': 'NOX_second_max', 'seventy_five_percentile': 'NOX_75',\
#                         'ninety_five_percentile': 'NOX_95', 'ninety_nine_percentile': 'NOX_99',\
#                         'ninety_percentile': 'NOX_90', 'ten_percentile': 'NOX_10', 'third_max_value': 'NOX_third_max'})
dfNOX = dfNOX.rename(columns={'arithmetic_mean': 'NOX_mean', 'first_max_value': 'NOX_max',\
                                'ninety_five_percentile': 'NOX_95'})
dfNOX = dfNOX.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfNOX.head()

     NOX_mean  NOX_max  NOX_95        key
75  22.948444    272.6    70.1  160012014
76  19.222964    138.1    63.5  160012012
81  54.460795    144.4   109.0  160012013
82  33.617939    180.8    81.9  160012017
85  23.996525    170.8    71.7  160012015

In [82]:
# dfCO = env_data.loc[env_data['parameter_name'] == "Carbon monoxide"]
# dfCO = dfCO.rename(columns={'parameter_name': 'CO'})
# dfCO = dfCO.rename(columns={'arithmetic_mean': 'CO_mean', 'arithmetic_standard_dev': 'CO_std_dev',\
#                        'fifty_percentile': 'CO_50', 'first_max_value': 'CO_first_max',\
#                        'fourth_max_value': 'CO_fourth_max', 'ninety_eight_percentile': 'CO_98',\
#                        'second_max_value': 'CO_second_max', 'seventy_five_percentile': 'CO_75',\
#                         'ninety_five_percentile': 'CO_95', 'ninety_nine_percentile': 'CO_99',\
#                         'ninety_percentile': 'CO_90', 'ten_percentile': 'CO_10', 'third_max_value': 'CO_third_max'})
dfCO = dfCO.rename(columns={'arithmetic_mean': 'CO_mean', 'first_max_value': 'CO_max',\
                                'ninety_five_percentile': 'CO_95'})
dfCO = dfCO.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfCO.head()

      CO_mean  CO_max  CO_95        key
80   0.261011   0.900  0.400  160012016
87   0.236236   1.286  0.501  160012015
88   0.267607   0.900  0.500  160012013
100  0.447959   7.500  0.900  160012017
101  0.892459   2.600  1.500  160012004

In [83]:
# dfNO2 = env_data.loc[env_data['parameter_name'] == "Nitrogen dioxide (NO2)"]
# dfNO2 = dfNO2.rename(columns={'parameter_name': 'NO2'})
# dfNO2 = dfNO2.rename(columns={'arithmetic_mean': 'NO2_mean', 'arithmetic_standard_dev': 'NO2_std_dev',\
#                        'fifty_percentile': 'NO2_50', 'first_max_value': 'NO2_first_max',\
#                        'fourth_max_value': 'NO2_fourth_max', 'ninety_eight_percentile': 'NO2_98',\
#                        'second_max_value': 'NO2_second_max', 'seventy_five_percentile': 'NO2_75',\
#                         'ninety_five_percentile': 'NO2_95', 'ninety_nine_percentile': 'NO2_99',\
#                         'ninety_percentile': 'NO2_90', 'ten_percentile': 'NO2_10', 'third_max_value': 'NO2_third_max'})
dfNO2 = dfNO2.rename(columns={'arithmetic_mean': 'NO2_mean', 'first_max_value': 'NO2_max',\
                                'ninety_five_percentile': 'NO2_95'})
dfNO2 = dfNO2.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfNO2.head()

     NO2_mean  NO2_max  NO2_95        key
72  26.498876     49.8    40.3  160012012
74  10.436822     49.8    26.3  160012012
77  26.156838     48.4    40.5  160012014
78  10.589742     48.4    27.4  160012014
79  25.812360     56.8    42.5  160012015

In [84]:
# dfNO = env_data.loc[env_data['parameter_name'] == "NITROUS OXIDE"]
# dfNO = dfNO.rename(columns={'parameter_name': 'NO'})
# dfNO = dfNO.rename(columns={'arithmetic_mean': 'NO_mean', 'arithmetic_standard_dev': 'NO_std_dev',\
#                        'fifty_percentile': 'NO_50', 'first_max_value': 'NO_first_max',\
#                        'fourth_max_value': 'NO_fourth_max', 'ninety_eight_percentile': 'NO_98',\
#                        'second_max_value': 'NO_second_max', 'seventy_five_percentile': 'NO_75',\
#                         'ninety_five_percentile': 'NO_95', 'ninety_nine_percentile': 'NO_99',\
#                         'ninety_percentile': 'NO_90', 'ten_percentile': 'NO_10', 'third_max_value': 'NO_third_max'})
dfNO = dfNO.rename(columns={'arithmetic_mean': 'NO_mean', 'first_max_value': 'NO_max',\
                                'ninety_five_percentile': 'NO_95'})
dfNO = dfNO.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfNO.head()

           NO_mean  NO_max  NO_95        key
211972  334.389499   383.6  338.5  060292016
211982  334.484644   360.0  338.2  060292017
388809  330.077908   345.8  333.9  060292013
388826  332.261229   354.0  336.7  060292014
388845  333.212379   381.2  338.4  060292015

In [85]:
# dfMethane = env_data.loc[env_data['parameter_name'] == "Methane"]
# dfMethane = dfMethane.rename(columns={'parameter_name': 'Methane'})
# dfMethane = dfMethane.rename(columns={'arithmetic_mean': 'Methane_mean', 'arithmetic_standard_dev': 'Methane_std_dev',\
#                        'fifty_percentile': 'Methane_50', 'first_max_value': 'Methane_first_max',\
#                        'fourth_max_value': 'Methane_fourth_max', 'ninety_eight_percentile': 'Methane_98',\
#                        'second_max_value': 'Methane_second_max', 'seventy_five_percentile': 'Methane_75',\
#                         'ninety_five_percentile': 'Methane_95', 'ninety_nine_percentile': 'Methane_99',\
#                         'ninety_percentile': 'Methane_90', 'ten_percentile': 'Methane_10', 'third_max_value': 'Methane_third_max'})
dfMethane = dfMethane.rename(columns={'arithmetic_mean': 'Methane_mean', 'first_max_value': 'Methane_max',\
                                'ninety_five_percentile': 'Methane_95'})
dfMethane = dfMethane.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfMethane.head()

       Methane_mean  Methane_max  Methane_95        key
21349   1827.518051       8990.0      2370.0  420491981
32102   3098.913687      13480.0      6960.0  060291996
32179   2816.589668       9980.0      6150.0  060291998
32209   4157.053245       9770.0      8010.0  060291999
32974   2122.771429       3480.0      3030.0  060291996

In [86]:
# dfCO2 = env_data.loc[env_data['parameter_name'] == "Carbon dioxide"]
# dfCO2 = dfCO2.rename(columns={'parameter_name': 'CO2'})
# dfCO2 = dfCO2.rename(columns={'arithmetic_mean': 'CO2_mean', 'arithmetic_standard_dev': 'CO2_std_dev',\
#                        'fifty_percentile': 'CO2_50', 'first_max_value': 'CO2_first_max',\
#                        'fourth_max_value': 'CO2_fourth_max', 'ninety_eight_percentile': 'CO2_98',\
#                        'second_max_value': 'CO2_second_max', 'seventy_five_percentile': 'CO2_75',\
#                         'ninety_five_percentile': 'CO2_95', 'ninety_nine_percentile': 'CO2_99',\
#                         'ninety_percentile': 'CO2_90', 'ten_percentile': 'CO2_10', 'third_max_value': 'CO2_third_max'})
dfCO2 = dfCO2.rename(columns={'arithmetic_mean': 'CO2_mean', 'first_max_value': 'CO2_max',\
                                'ninety_five_percentile': 'CO2_95'})
dfCO2 = dfCO2.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfCO2.head()

         CO2_mean  CO2_max  CO2_95        key
34819  412.327827   481.59  442.12  060292011
34826  428.405597   570.81  456.91  060292017
34839  418.290370   482.12  444.70  060292014
34843  417.754286   460.20  439.07  060292012
35704  461.456075   704.00  540.00  060292011

In [37]:
dfCO2.to_csv(index=False)

export_csv = dfCO2.to_csv (r'export_dataframe.csv', index = None, header=True)

In [37]:
# from functools import reduce
# reduce(lambda x,y: pd.merge(x,y, on='key', how='outer'), [dfPM10, dfPM25, dfOzone, dfNOX, dfCO, dfNO2,\
#                                                           dfNO, dfMethane, dfCO2])

In [87]:
dfmerge1 = dfPM10.merge(dfPM25, on='key', how='outer')
dfmerge1.head()

,PM10_mean,county_code,county_name,PM10_first_max,latitude,longitude,PM10_95,site_num,state_code,state_name,year,fips,key,PM25_mean,PM25_first_max,PM25_95
0,20.262295,001,Ada,60.0,43.617759,-116.392590,42.0,0013,16,Idaho,1998,16001,160011998,13.427778,34.2,34.2
1,20.262295,001,Ada,60.0,43.617759,-116.392590,42.0,0013,16,Idaho,1998,16001,160011998,13.427778,34.2,34.2
2,20.262295,001,Ada,60.0,43.617759,-116.392590,42.0,0013,16,Idaho,1998,16001,160011998,13.427778,34.2,34.2
3,20.262295,001,Ada,60.0,43.617759,-116.392590,42.0,0013,16,Idaho,1998,16001,160011998,13.427778,34.2,34.2
4,25.829787,001,Ada,56.0,43.618889,-116.213611,51.0,0009,16,Idaho,1998,16001,160011998,13.427778,34.2,34.2

In [88]:
dfmerge2 = dfmerge1.merge(dfOzone, on='key', how='outer')

In [89]:
dfmerge3 = dfmerge2.merge(dfNOX, on='key', how='outer')

In [90]:
dfmerge3.to_csv (r'dfmerge3.csv', index = None, header=True)

In [ ]:
# File to Load
file = "dfmerge3.csv"

# Read
dfmerge3_csv = pd.read_csv(file, dtype=False)
dfmerge3_csv.head()

In [91]:
dfmerge4 = dfmerge3.merge(dfCO, on='key', how='outer')

MemoryError:

In [ ]:
dfmerge5 = dfmerge4.merge(dfNO2, on='key', how='outer')

In [ ]:
dfmerge6 = dfmerge5.merge(dfNO, on='key', how='outer')

In [ ]:
dfmerge7 = dfmerge6.merge(dfMethane, on='key', how='outer')

In [ ]:
dfmergeF = dfmerge7.merge(dfCO2, on='key', how='outer')

In [ ]:
dfmergeF.head()