Import Data

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file = "env_data.json"

# Read
env_data = pd.read_json(file, dtype=False, lines=True)
env_data.head()

,arithmetic_mean,arithmetic_standard_dev,county_code,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,ninety_eight_percentile,...,ninety_percentile,parameter_name,second_max_value,seventy_five_percentile,site_num,state_code,state_name,ten_percentile,third_max_value,year
0,4.193443,7.078815,001,Ada,4.4,17.8,14.3,43.643055,-116.265718,16.7,...,13.5,Ambient Min Temperature,16.7,10.2,0021,16,Idaho,-5.1,14.4,2003
1,0.200000,0.134840,001,Ada,0.1,0.5,0.4,43.643055,-116.265718,0.5,...,0.4,Sample Flow Rate- CV,0.4,0.3,0021,16,Idaho,0.1,0.4,2002
2,0.156000,0.112101,001,Ada,0.1,0.5,0.3,43.643055,-116.265718,0.5,...,0.3,Sample Flow Rate- CV,0.4,0.1,0021,16,Idaho,0.1,0.3,2004
3,9.912000,9.961355,001,Ada,7.1,43.2,16.2,43.643055,-116.265718,43.2,...,18.9,PM2.5 - Local Conditions,36.6,8.5,0021,16,Idaho,3.2,18.9,2004
4,15.591304,14.466825,001,Ada,10.4,62.7,27.6,43.643055,-116.265718,62.7,...,33.1,PM2.5 - Local Conditions,40.8,21.1,0021,16,Idaho,4.6,33.1,2002

Data Checks

In [ ]:
#quick check of data types
# env_data.dtypes

In [ ]:
# env_data.parameter_name.unique().tolist()

In [2]:
env_data["fips"] = env_data["state_code"] + env_data["county_code"]
env_data["key"] = env_data["state_code"] + env_data["county_code"] + env_data["year"]
env_data.head()

,arithmetic_mean,arithmetic_standard_dev,county_code,county_name,fifty_percentile,first_max_value,fourth_max_value,latitude,longitude,ninety_eight_percentile,...,second_max_value,seventy_five_percentile,site_num,state_code,state_name,ten_percentile,third_max_value,year,fips,key
0,4.193443,7.078815,001,Ada,4.4,17.8,14.3,43.643055,-116.265718,16.7,...,16.7,10.2,0021,16,Idaho,-5.1,14.4,2003,16001,160012003
1,0.200000,0.134840,001,Ada,0.1,0.5,0.4,43.643055,-116.265718,0.5,...,0.4,0.3,0021,16,Idaho,0.1,0.4,2002,16001,160012002
2,0.156000,0.112101,001,Ada,0.1,0.5,0.3,43.643055,-116.265718,0.5,...,0.4,0.1,0021,16,Idaho,0.1,0.3,2004,16001,160012004
3,9.912000,9.961355,001,Ada,7.1,43.2,16.2,43.643055,-116.265718,43.2,...,36.6,8.5,0021,16,Idaho,3.2,18.9,2004,16001,160012004
4,15.591304,14.466825,001,Ada,10.4,62.7,27.6,43.643055,-116.265718,62.7,...,40.8,21.1,0021,16,Idaho,4.6,33.1,2002,16001,160012002

In [3]:
env_data.to_csv(r'env_data.csv', index = None, header=True)

In [ ]:
## Placeholder and start point if needed

In [1]:
import pandas as pd
import numpy as np

file = "env_data.csv"

# Read
env_data = pd.read_csv(file)
env_data.head()
env_data.shape

/home/john/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (17,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2093880, 24)

In [2]:
# PM10 - LC
# PM2.5 - Local Conditions
# Ozone
# Oxides of nitrogen (NOx)
# Carbon monoxide
# Nitrogen dioxide (NO2)
# Methane
# NITROUS OXIDE
# Carbon dioxide

# dfPM10 = env_data.loc[env_data['parameter_name'] == "PM10 - LC"]
dfPM25 = env_data.loc[env_data['parameter_name'] == "PM2.5 - Local Conditions"]
dfOzone = env_data.loc[env_data['parameter_name'] == "Ozone"]
# dfNOX = env_data.loc[env_data['parameter_name'] == "Oxides of nitrogen (NOx)"]
dfCO = env_data.loc[env_data['parameter_name'] == "Carbon monoxide"]
dfNO2 = env_data.loc[env_data['parameter_name'] == "Nitrogen dioxide (NO2)"]
# dfNO = env_data.loc[env_data['parameter_name'] == "NITROUS OXIDE"]
# dfMethane = env_data.loc[env_data['parameter_name'] == "Methane"]
# dfCO2 = env_data.loc[env_data['parameter_name'] == "Carbon dioxide"]

In [6]:
# pm2.5 is a better health indicator and this data is limited

# dfPM10 = dfPM10.rename(columns={'arithmetic_mean': 'PM10_mean', 'arithmetic_standard_dev': 'PM10_std_dev',\
#                        'fifty_percentile': 'PM10_50', 'first_max_value': 'PM10_first_max',\
#                        'fourth_max_value': 'PM10_fourth_max', 'ninety_eight_percentile': 'PM10_98',\
#                        'second_max_value': 'PM10_second_max', 'seventy_five_percentile': 'PM10_75',\
#                         'ninety_five_percentile': 'PM10_95', 'ninety_nine_percentile': 'PM10_99',\
#                         'ninety_percentile': 'PM10_90', 'ten_percentile': 'PM10_10', 'third_max_value': 'PM10_third_max'})

# dfPM10 = dfPM10.rename(columns={'arithmetic_mean': 'PM10_mean', 'first_max_value': 'PM10_first_max',\
#                                 'ninety_five_percentile': 'PM10_95'})
# dfPM10 = dfPM10.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
#                                 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
#                                 'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile',\
#                                 'third_max_value'])
# dfPM10.head()
# dfPM10.shape

(15275, 13)

In [9]:
# dfPM25 = env_data.loc[env_data['parameter_name'] == "PM2.5 - Local Conditions"]
# # dfPM25 = dfPM25.rename(columns={'parameter_name': 'PM25'}, inplace=True)
dfPM25 = dfPM25.rename(columns={'arithmetic_mean': 'PM25_mean', 'first_max_value': 'PM25_first_max',\
                                'ninety_five_percentile': 'PM25_95'})
dfPM25 = dfPM25.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfPM25.head()
dfPM25.shape

(118105, 4)

In [10]:
# dfOzone = env_data.loc[env_data['parameter_name'] == "Ozone"]
# dfOzone = dfOzone.rename(columns={'parameter_name': 'Ozone'})
# dfOzone = dfOzone.rename(columns={'arithmetic_mean': 'Ozone_mean', 'arithmetic_standard_dev': 'Ozone_std_dev',\
#                        'fifty_percentile': 'Ozone_50', 'first_max_value': 'Ozone_first_max',\
#                        'fourth_max_value': 'Ozone_fourth_max', 'ninety_eight_percentile': 'Ozone_98',\
#                        'second_max_value': 'Ozone_second_max', 'seventy_five_percentile': 'Ozone_75',\
#                         'ninety_five_percentile': 'Ozone_95', 'ninety_nine_percentile': 'Ozone_99',\
#                         'ninety_percentile': 'Ozone_90', 'ten_percentile': 'Ozone_10', 'third_max_value': 'Ozone_third_max'})
dfOzone = dfOzone.rename(columns={'arithmetic_mean': 'Ozone_mean', 'first_max_value': 'Ozone_max',\
                                'ninety_five_percentile': 'Ozone_95'})
dfOzone = dfOzone.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfOzone.head()
dfOzone.shape

(169528, 4)

In [9]:
# NO2 is a better proxy per our discussions

# dfNOX = env_data.loc[env_data['parameter_name'] == "Oxides of nitrogen (NOx)"]
# dfNOX = dfNOX.rename(columns={'parameter_name': 'NOX'})
# dfNOX = dfNOX.rename(columns={'arithmetic_mean': 'NOX_mean', 'arithmetic_standard_dev': 'NOX_std_dev',\
#                        'fifty_percentile': 'NOX_50', 'first_max_value': 'NOX_first_max',\
#                        'fourth_max_value': 'NOX_fourth_max', 'ninety_eight_percentile': 'NOX_98',\
#                        'second_max_value': 'NOX_second_max', 'seventy_five_percentile': 'NOX_75',\
#                         'ninety_five_percentile': 'NOX_95', 'ninety_nine_percentile': 'NOX_99',\
#                         'ninety_percentile': 'NOX_90', 'ten_percentile': 'NOX_10', 'third_max_value': 'NOX_third_max'})
# dfNOX = dfNOX.rename(columns={'arithmetic_mean': 'NOX_mean', 'first_max_value': 'NOX_max',\
#                                 'ninety_five_percentile': 'NOX_95'})
# dfNOX = dfNOX.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
#                                 'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
#                                 'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
#                                 'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
# dfNOX.head()
# dfNOX.shape

(10426, 4)

In [11]:
# dfCO = env_data.loc[env_data['parameter_name'] == "Carbon monoxide"]
# dfCO = dfCO.rename(columns={'parameter_name': 'CO'})
# dfCO = dfCO.rename(columns={'arithmetic_mean': 'CO_mean', 'arithmetic_standard_dev': 'CO_std_dev',\
#                        'fifty_percentile': 'CO_50', 'first_max_value': 'CO_first_max',\
#                        'fourth_max_value': 'CO_fourth_max', 'ninety_eight_percentile': 'CO_98',\
#                        'second_max_value': 'CO_second_max', 'seventy_five_percentile': 'CO_75',\
#                         'ninety_five_percentile': 'CO_95', 'ninety_nine_percentile': 'CO_99',\
#                         'ninety_percentile': 'CO_90', 'ten_percentile': 'CO_10', 'third_max_value': 'CO_third_max'})
dfCO = dfCO.rename(columns={'arithmetic_mean': 'CO_mean', 'first_max_value': 'CO_max',\
                                'ninety_five_percentile': 'CO_95'})
dfCO = dfCO.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfCO.head()
dfCO.shape

(35714, 4)

In [12]:
# dfNO2 = env_data.loc[env_data['parameter_name'] == "Nitrogen dioxide (NO2)"]
# dfNO2 = dfNO2.rename(columns={'parameter_name': 'NO2'})
# dfNO2 = dfNO2.rename(columns={'arithmetic_mean': 'NO2_mean', 'arithmetic_standard_dev': 'NO2_std_dev',\
#                        'fifty_percentile': 'NO2_50', 'first_max_value': 'NO2_first_max',\
#                        'fourth_max_value': 'NO2_fourth_max', 'ninety_eight_percentile': 'NO2_98',\
#                        'second_max_value': 'NO2_second_max', 'seventy_five_percentile': 'NO2_75',\
#                         'ninety_five_percentile': 'NO2_95', 'ninety_nine_percentile': 'NO2_99',\
#                         'ninety_percentile': 'NO2_90', 'ten_percentile': 'NO2_10', 'third_max_value': 'NO2_third_max'})
dfNO2 = dfNO2.rename(columns={'arithmetic_mean': 'NO2_mean', 'first_max_value': 'NO2_max',\
                                'ninety_five_percentile': 'NO2_95'})
dfNO2 = dfNO2.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
                                'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
                                'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
                                'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
dfNO2.head()
dfNO2.shape

KeyError: "['parameter_name' 'arithmetic_standard_dev' 'fifty_percentile'\n 'fourth_max_value' 'county_code' 'ninety_eight_percentile'\n 'second_max_value' 'seventy_five_percentile' 'ninety_nine_percentile'\n 'ninety_percentile' 'ten_percentile' 'county_name' 'third_max_value'\n 'latitude' 'longitude' 'site_num' 'state_code' 'state_name' 'year' 'fips'] not found in axis"

In [4]:
dfNO2.to_csv(r'dfNO2.csv', index = None, header=True)

In [13]:
file = "dfNO2.csv"

# Read
dfNO2 = pd.read_csv(file)
dfNO2.head()

    NO2_mean  NO2_max  NO2_95        key
0  26.498876     49.8    40.3  160012012
1  10.436822     49.8    26.3  160012012
2  26.156838     48.4    40.5  160012014
3  10.589742     48.4    27.4  160012014
4  25.812360     56.8    42.5  160012015

In [12]:
# too little data

# dfNO = env_data.loc[env_data['parameter_name'] == "NITROUS OXIDE"]
# dfNO = dfNO.rename(columns={'parameter_name': 'NO'})
# dfNO = dfNO.rename(columns={'arithmetic_mean': 'NO_mean', 'arithmetic_standard_dev': 'NO_std_dev',\
#                        'fifty_percentile': 'NO_50', 'first_max_value': 'NO_first_max',\
#                        'fourth_max_value': 'NO_fourth_max', 'ninety_eight_percentile': 'NO_98',\
#                        'second_max_value': 'NO_second_max', 'seventy_five_percentile': 'NO_75',\
#                         'ninety_five_percentile': 'NO_95', 'ninety_nine_percentile': 'NO_99',\
#                         'ninety_percentile': 'NO_90', 'ten_percentile': 'NO_10', 'third_max_value': 'NO_third_max'})
# dfNO = dfNO.rename(columns={'arithmetic_mean': 'NO_mean', 'first_max_value': 'NO_max',\
#                                 'ninety_five_percentile': 'NO_95'})
# dfNO = dfNO.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
#                                 'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
#                                 'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
#                                 'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
# dfNO.head()
# dfNO.shape

(18, 4)

In [13]:
# too little data

# dfMethane = env_data.loc[env_data['parameter_name'] == "Methane"]
# dfMethane = dfMethane.rename(columns={'parameter_name': 'Methane'})
# dfMethane = dfMethane.rename(columns={'arithmetic_mean': 'Methane_mean', 'arithmetic_standard_dev': 'Methane_std_dev',\
#                        'fifty_percentile': 'Methane_50', 'first_max_value': 'Methane_first_max',\
#                        'fourth_max_value': 'Methane_fourth_max', 'ninety_eight_percentile': 'Methane_98',\
#                        'second_max_value': 'Methane_second_max', 'seventy_five_percentile': 'Methane_75',\
#                         'ninety_five_percentile': 'Methane_95', 'ninety_nine_percentile': 'Methane_99',\
#                         'ninety_percentile': 'Methane_90', 'ten_percentile': 'Methane_10', 'third_max_value': 'Methane_third_max'})
# dfMethane = dfMethane.rename(columns={'arithmetic_mean': 'Methane_mean', 'first_max_value': 'Methane_max',\
#                                 'ninety_five_percentile': 'Methane_95'})
# dfMethane = dfMethane.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
#                                 'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
#                                 'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
#                                 'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
# dfMethane.head()
# dfMethane.shape

(676, 4)

In [11]:
# dfCO2 = env_data.loc[env_data['parameter_name'] == "Carbon dioxide"]
# dfCO2 = dfCO2.rename(columns={'parameter_name': 'CO2'})
# dfCO2 = dfCO2.rename(columns={'arithmetic_mean': 'CO2_mean', 'arithmetic_standard_dev': 'CO2_std_dev',\
#                        'fifty_percentile': 'CO2_50', 'first_max_value': 'CO2_first_max',\
#                        'fourth_max_value': 'CO2_fourth_max', 'ninety_eight_percentile': 'CO2_98',\
#                        'second_max_value': 'CO2_second_max', 'seventy_five_percentile': 'CO2_75',\
#                         'ninety_five_percentile': 'CO2_95', 'ninety_nine_percentile': 'CO2_99',\
#                         'ninety_percentile': 'CO2_90', 'ten_percentile': 'CO2_10', 'third_max_value': 'CO2_third_max'})
# dfCO2 = dfCO2.rename(columns={'arithmetic_mean': 'CO2_mean', 'first_max_value': 'CO2_max',\
#                                 'ninety_five_percentile': 'CO2_95'})
# dfCO2 = dfCO2.drop(columns=['parameter_name', 'arithmetic_standard_dev', 'fifty_percentile', 'fourth_max_value',\
#                                 'county_code', 'ninety_eight_percentile', 'second_max_value', 'seventy_five_percentile',\
#                                 'ninety_nine_percentile', 'ninety_percentile', 'ten_percentile', 'county_name',\
#                                 'third_max_value', 'latitude','longitude', 'site_num', 'state_code', 'state_name', 'year', 'fips'])
# dfCO2.head()

In [9]:
dfCO.shape

# this is the largest data set with an inner join andafocus on Ozone and particulate matter could be focused and meaningful

(35714, 4)

In [37]:
# dfCO2.to_csv(index=False)

# export_csv = dfCO2.to_csv (r'export_dataframe.csv', index = None, header=True)

In [37]:
# from functools import reduce
# reduce(lambda x,y: pd.merge(x,y, on='key', how='outer'), [dfPM10, dfPM25, dfOzone, dfNOX, dfCO, dfNO2,\
#                                                           dfNO, dfMethane, dfCO2])

In [14]:
dfmerge1 = dfOzone.merge(dfPM25, on='key', how='inner')
dfmerge1.head()

,Ozone_mean,Ozone_max,Ozone_95,key,PM25_mean,PM25_first_max,PM25_95
0,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5
1,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
2,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
3,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
4,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5

In [13]:
# this is the largest data set with an inner join andafocus on Ozone and particulate matter could be focused and meaningful
dfmerge1.shape

(1297819, 7)

In [14]:
dfmerge1.to_csv (r'dfmerge1.csv', index = None, header=True)

In [15]:
file = "dfmerge1.csv"

# Read
dfmerge1 = pd.read_csv(file)
dfmerge1.head()

,Ozone_mean,Ozone_max,Ozone_95,key,PM25_mean,PM25_first_max,PM25_95
0,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5
1,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
2,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
3,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
4,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5

In [16]:
dfmerge1.dtypes

Ozone_mean        float64
Ozone_max         float64
Ozone_95          float64
key                 int64
PM25_mean         float64
PM25_first_max    float64
PM25_95           float64
dtype: object

In [17]:
dfmerge11 = dfmerge1.groupby(['key'], sort=True).max()
dfmerge11.shape

(8501, 6)

In [18]:
dfmerge11.to_csv (r'dfmerge11.csv', index = None, header=True)

In [19]:
file = "dfmerge1.csv"

# Read
dfmerge11 = pd.read_csv(file)
dfmerge11.head()

,Ozone_mean,Ozone_max,Ozone_95,key,PM25_mean,PM25_first_max,PM25_95
0,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5
1,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
2,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
3,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7
4,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5

In [15]:
# CO andNO2 have smaller but acceptable datasets worth considering
dfmerge2 = dfmerge1.merge(dfCO, on='key', how='inner')

In [ ]:
dfmerge2.shape

In [21]:
dfmerge2.to_csv(r'dfmerge2.csv', index = None, header=True)

In [7]:
file = "dfmerge2.csv"

# Read
dfmerge2 = pd.read_csv(file)
dfmerge2.head()

,Ozone_mean,Ozone_max,Ozone_95,key,PM25_mean,PM25_first_max,PM25_95,CO_mean,CO_max,CO_95
0,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5,0.637531,4.8,1.3
1,0.058185,0.09,0.078,160012006,9.620000,34.5,34.5,0.643923,2.1,1.2
2,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7,0.637531,4.8,1.3
3,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7,0.643923,2.1,1.2
4,0.058185,0.09,0.078,160012006,7.565306,28.5,21.7,0.637531,4.8,1.3

In [23]:
dfmerge2.shape

(9696563, 10)

In [21]:
# final merge recomendation based on data (see data shape above)
dfmerge3 = dfmerge2.merge(dfNO2, on='key', how='inner')

In [22]:
dfmerge3.shape

(3997085, 13)

In [23]:
dfmerge3.to_csv(r'dfmerge3.csv', index = None, header=True)

In [24]:
dfmerge31 = dfmerge3.groupby(['key'], sort=True).max()
dfmerge31.shape

(294, 12)

In [25]:
dfmerge31.to_csv(r'dfmerge31.csv', index = None, header=True)

In [15]:
# file = "dfmerge3.csv"

# # Read
# dfmerge3 = pd.read_csv(file)
# dfmerge3.head()

In [16]:
# dfmerge4 = dfmerge3.merge(dfCO, on='key', how='outer')

In [17]:
# dfmerge4.to_csv(r'dfmerge4.csv', index = None, header=True)

In [18]:
# file = "dfmerge4.csv"

# # Read
# dfmerge4 = pd.read_csv(file)
# dfmerge4.head()

In [19]:
# dfmerge4.shape

In [20]:
# dfmerge5 = dfmerge4.merge(dfNO2, on='key', how='outer')

In [21]:
# dfmerge5.to_csv(r'dfmerge5.csv', index = None, header=True)

In [22]:
# file = "dfmerge5.csv"

# # Read
# dfmerge5 = pd.read_csv(file)
# dfmerge5.head()

In [23]:
# dfmerge5.shape

In [24]:
# dfmerge6 = dfmerge5.merge(dfNO, on='key', how='outer')

In [25]:
# dfmerge2.to_csv(r'dfmerge2.csv', index = None, header=True)

In [26]:
# file = "dfmerge2.csv"

# # Read
# dfmerge2 = pd.read_csv(file)
# dfmerge2.head()

In [27]:
# dfmerge7 = dfmerge6.merge(dfMethane, on='key', how='outer')

In [28]:
# dfmerge2.to_csv(r'dfmerge2.csv', index = None, header=True)

In [29]:
# file = "dfmerge2.csv"

# # Read
# dfmerge2 = pd.read_csv(file)
# dfmerge2.head()

In [30]:
# dfmergeF = dfmerge7.merge(dfCO2, on='key', how='outer')

In [31]:
# dfmerge2.to_csv(r'dfmerge2.csv', index = None, header=True)

In [32]:
# file = "dfmerge2.csv"

# # Read
# dfmerge2 = pd.read_csv(file)
# dfmerge2.head()

In [33]:
# env_data = env_data.groupby(['key'], sort=True).max()
# env_data.shape