<H3>Dataframe transformations for Tableau Visualization (jmc39)</H3>
Focus of this notebook is (1) to import csv files generated from JP's multi-linear regression (MLR) machine learning model & ES's random forest (RF) machine learning model and then (2) transform that data to create a data source for Tableau visualization.

<H4>(1) Import csv files and wrangle</H4>

In [1]:
import pandas as pd
import numpy as np

In [2]:
RF_csv = "random_forest_values_twb.csv"
MLRO_csv = "observed_asthma_twb.csv"
MLRP_csv = "predicted_asthma_multi_linear_twb.csv"

In [3]:
# Create dataframe with columns necessary for visualization
def cols_to_read(x):
    return x.lower() in ['year','state_name','county_name','fips','observed',\
                         'asthma_death_per_100k','asthma_deaths_per_100k']

raw_df_RF_values = pd.read_csv(RF_csv, usecols=cols_to_read)
raw_df_MLR_observed = pd.read_csv(MLRO_csv, usecols=cols_to_read)
raw_df_MLR_predicted = pd.read_csv(MLRP_csv, usecols=cols_to_read)

/Users/jamesmcarter/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
raw_df_RF_values.shape
raw_df_MLR_observed.shape
raw_df_MLR_predicted.shape
len(raw_df_MLR_observed) + len(raw_df_MLR_predicted)

(16450, 7)

(12822, 6)

(3628, 6)

16450

In [5]:
df_RF = raw_df_RF_values
df_MLRO = raw_df_MLR_observed
df_MLRP = raw_df_MLR_predicted
df_RF.columns
df_MLRO.columns
df_MLRP.columns

Index(['asthma_death_per_100k', 'asthma_deaths_per_100k', 'county_name',
       'fips', 'observed', 'state_name', 'year'],
      dtype='object')

Index(['year', 'fips', 'state_name', 'county_name', 'asthma_deaths_per_100k',
       'observed'],
      dtype='object')

Index(['year', 'fips', 'state_name', 'county_name', 'observed',
       'asthma_deaths_per_100k'],
      dtype='object')

<H4>(2) Transform to generate csvs for Tableau vizzin'</H4>

In [6]:
# Combine MLR observed and predicted dataframes
df_MLR = pd.concat([df_MLRO,df_MLRP],ignore_index=True, sort=True)
df_MLR.columns
len(df_MLR)
df_MLR.head(2)
df_MLR.tail(2)
df_MLR.dtypes

Index(['asthma_deaths_per_100k', 'county_name', 'fips', 'observed',
       'state_name', 'year'],
      dtype='object')

16450

   asthma_deaths_per_100k county_name   fips  observed state_name  year
0                2.016585        Kent  10001         1   Delaware  1996
1                1.738850  New Castle  10003         1   Delaware  1996

,asthma_deaths_per_100k,county_name,fips,observed,state_name,year
16448,1.594043,BAJA CALIFORNIA NORTE,80002,0,Country Of Mexico,2017
16449,1.472179,SONORA,80026,0,Country Of Mexico,2017

asthma_deaths_per_100k    float64
county_name                object
fips                       object
observed                    int64
state_name                 object
year                        int64
dtype: object

In [7]:
# generate CSV for Tableau data sources
df_RF.to_csv("tableau_random_forest.csv")
df_MLR.to_csv("tableau_multi-linear-regression.csv")